<ion-header>
  <ion-navbar color="primary">
    <ion-title>Ingresar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Correo Electronico</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Su Correo Electronico"
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Por favor ingrese un correo valido.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Su Contraseña"
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>Su contraseña tiene que ser de mas de 6 caracteres.</p>
    </ion-item>

    <button ion-button block type="submit">
      Ingresar
    </button>

  </form>

  <button ion-button block clear (click)="goToResetPassword()">
    I forgot my password 🙁
  </button>

  <button ion-button block clear (click)="createAccount()">
    Create a new account
  </button>
</ion-content>
