<div class="logo">
  <div class="logo_header">
    <img src="assets/img/logo.png" />
  </div>
</div>
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons text-center>
      <button ion-button *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-buttons>
    <ion-buttons class="targets">
      <a ion-button only-icon target="_blank" href="http://epe.edu.co">
        <img src="assets/img/logo_epe.png" width="32px" />
      </a>
      <a href="https://www.facebook.com/Revista-Planteamientos-En-Educación-353670338419375/" target="_blank" ion-button only-icon
        color="royal" class="social">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="https://twitter.com/rplanteamientos" target="_blank" ion-button only-icon color="royal" class="social">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      <button ion-button color="royal" (click)="goToLogin()" *ngIf="!logged" icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
      <button ion-button color="royal" (click)="signOut()" *ngIf="logged" icon-only>
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>