<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Revista Planteamientos</ion-title>
        <ion-buttons end>
      <button ion-button (click)="goToLogin()">
        Iniciar Sesión
      </button>
      <button ion-button (click)="goToSignUp()">
        Registrarse
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <ion-row>
          <ion-col col-2>
            <ion-title>Categorías <ion-icon small name="funnel"></ion-icon></ion-title>
            <ion-list no-lines>
              <button ion-item (click)="filterBy(undefined)">Sin Filtro</button>
              <button ion-item *ngFor="let categoria of categorias | async" (click)="filterBy(categoria.$key)">
                {{ categoria.nombre }}
              </button> 
            </ion-list>
          </ion-col>
          <ion-col col-10>
            <ion-grid>
              <ion-row>
                <ion-col col-4 *ngFor="let item of items | async">
                  <ion-card>
                    <img [attr.src]="item.thumbnail | url | async ">
                    <ion-card-content>
                      <ion-card-title>
                        {{ item.titulo }}
                      </ion-card-title>
                      <p>{{ item.descripcion }}</p>
                    </ion-card-content>
                    <ion-row no-padding>
                      <ion-col>
                        <button ion-button clear medium color="danger" icon-start (click)="navigateToPublicacion(item.$key)">
                          <ion-icon name='arrow-forward'></ion-icon>
                          Ver Más
                        </button>
                      </ion-col>
                    </ion-row>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-3>
        <ion-card>
          <img src="https://firebasestorage.googleapis.com/v0/b/revista-digital-bb5d4.appspot.com/o/Banner-publicidad-compressor.png?alt=media&token=80aef896-1460-46fc-9eb1-911c237149ba">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
