page-articulos {
  h1, h2 {
    margin-left: 16px !important;
    margin-bottom: -16px !important;
  }
  .card-title {
    margin-left: 12px !important;
  }
  .indi {
    background-color: color($colors, primary);
    font-size: 2.5rem;
    color: white;
    padding: 10px;
  }
  .logos {
      img {
          max-width: 157px;
      }
  }
  .indice {
    background: none;
    .item-inner {
      border-bottom: 0px !important;
      .label-md {
        line-height: 1 !important;
        margin: 8px !important;
      }
    }
    .titulo {
      font-weight: bold;
    }
    .author {
      font-size: 10px;
      color: color($colors, primary);
    }
  }
  .cardVideo {
    border-radius: 0;
    padding-bottom: 0px;
    background: none;
    box-shadow: none;
  }
}
