<ion-content padding class="masters">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-10>
        <ion-row>
          <ion-col col-md-3 col-12>
            <ion-row>
              <ion-col class="indi">
                ÍNDICE
              </ion-col>
              <ion-col col-md-12 *ngFor="let item of items | async">
                <ion-list>
                  <div ion-item class="indice" text-wrap *ngFor="let articulo of item.$key | slides | async">
                    <ion-row (click)="navigateToPublicacion(item.$key, articulo.$key)">
                      <ion-col col-md-2>
                          <ion-icon name="videocam"></ion-icon>
                      </ion-col>
                      <ion-col col-md-10>
                          <span class="titulo">{{ articulo.$value.titulo }}</span>
                          <br>
                          <span class="author">{{ articulo.$value.author }}</span>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-card>
              <img [attr.src]="dato.imagen | url | async">
              <audio style="width: 100%" controlsList="nodownload" controls [attr.src]="dato.audio | url | async"></audio>
              <ion-card-content>
                <p>{{ dato.texto }}</p>
              </ion-card-content>

            </ion-card>
            <a target="_blank" href="http://epe.edu.co">
              <img src="assets/img/logo_epe.png">
            </a>
          </ion-col>
          <ion-col col-md-9>
            <ion-grid>
              <ion-row>
                <ion-col col-md-6>
                  <h1>Edicion 1</h1>
                </ion-col>
                <ion-col col-md-6>
                  <h2>VIDEO-ARTÍCULOS</h2>
                </ion-col>
                <ion-col col-12 *ngFor="let item of items | async">
                  <ion-row>
                    <ion-col col-md-6>
                      <div *ngFor="let articulo of item.$key | slides:true | async">
                        <ion-card (click)="navigateToPublicacion(item.$key, articulo.$key)">
                          <img [attr.src]="articulo.$value.thumbnail | url | async">
                        </ion-card>
                      </div>
                    </ion-col>
                    <ion-col col-md-6>
                      <ion-row>
                        <ion-col col-md-6 *ngFor="let articulo of item.$key | slides:false | async">
                          <ion-card (click)="navigateToPublicacion(item.$key, articulo.$key)">
                            <img [attr.src]="articulo.$value.thumbnail | url | async">
                          </ion-card>
                        </ion-col>
                        <ion-col col-md-6>
                          <ion-card>
                            <img src="assets/img/image.png">
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-md-12>
                    <!-- <ion-card>
                      <iframe width="100%" height="310" [src]="dato.videoId | youtube" frameborder="0" allowfullscreen>
                      </iframe>
                    </ion-card> -->
                    <ion-card>
                      <img [attr.src]="dato.imagen2 | url | async" />
                    </ion-card>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-md-2 offset-md-0 col-8 offset-2>
        <ion-card>
          <ion-slides #slide2>
            <ion-slide>
            </ion-slide>
            <ion-slide *ngFor="let banner of banners | async">
              <a [href]="banner.link" target="_blank">
                <img [src]="banner.imageURL" />
              </a>
            </ion-slide>
          </ion-slides>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
