<ion-content padding class="masters">
  <ion-row>
    <ion-col col-md-3 *ngFor="let articulo of articulos | async">
      <ion-card>
        <img [attr.src]="articulo.thumbnail | url | async" />
        <ion-card-header text-wrap>
          {{ articulo.nombre }}
        </ion-card-header>
        <ion-card-content>
          {{ articulo.descripcion }}
        </ion-card-content>
        <ion-row>
          <ion-col>
            <a ion-button clear target="_blank" small icon-left [href]="articulo.url" *ngIf="articulo.url && !articulo.file">
              <ion-icon name="download"></ion-icon>
              <div>ADQUIRIR</div>
            </a>
            <a ion-button clear target="_blank" small icon-left [href]="articulo.file | url | async" *ngIf="!articulo.url">
              <ion-icon name="download"></ion-icon>
              <div>ADQUIRIR</div>
            </a>
            <a ion-button clear target="_blank" small icon-left [href]="articulo.file | url | async" *ngIf="articulo.url && articulo.file">
              <ion-icon name="download"></ion-icon>
              <div>ADQUIRIR</div>
            </a>
            <a ion-button clear target="_blank" small icon-left [href]="articulo.url" *ngIf="articulo.url && articulo.file">
              <ion-icon name="flag"></ion-icon>
              <div>IR AL SITIO</div>
            </a>
          </ion-col>
          <ion-col center text-right>
            <ion-note *ngIf="articulo.autor">
              Autor: {{ articulo.autor }} |
            </ion-note>
            <ion-note>
              {{ articulo.type }} - {{ articulo.fecha * -1000 | date }}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col col-md-10 col-12>
        <p class="text-white"> Tv. 29 No. 38 - 27 Barrio La Soledad | Teléfono: (57-1) 2695658 | Bogotá - Colombia | rev.planteamientoseneducacion@epe.edu.co
          |
          <a class="doinmedia" href="http://doinmedia.com" target="_blank">Powered by Doinmedia</a>
        </p>
      </ion-col>
      <ion-col col-md-1 col-6 class="logos">
        <img src="assets/img/app-store.svg" />
      </ion-col>
      <ion-col col-md-1 col-6 class="logos">
        <a href="https://play.google.com/store/apps/details?id=com.doinmedia.revistadigital.cliente" target="_blank">
          <img src="assets/img/google-play.png" />
        </a>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
